$hero-light: linear-gradient(180deg, #ffffff 0%, #cbdde6 100%);
$hero-dark: linear-gradient(180deg, #000000 0%, #262E31 100%);

$background-light: #FFFFFF;
$background-dark: #111212;

$text-light: #000000;
$text-dark: #ffffff;

$card-light: #E9F5FB;
$card-dark: #232728;
